<?xml version="1.0" ?>
<launch>    
    <param name="gazebo"                   value="true"    type="bool"/>
    <param name="gazebo_robot_name"        value="humanoid"/>
    
    <param name="offset_file_path"         value="$(find humanoid_manager)/config/offset.yaml"/>
    <param name="robot_file_path"          value="$(find humanoid_manager)/config/barelangfc.robot"/>
    <param name="init_file_path"           value="$(find humanoid_manager)/config/dxl_init_barelangfc.yaml"/>
    <param name="device_name"              value="/dev/ttyUSB0"/>
    
    <!-- OP3 Manager -->
    <node pkg="humanoid_manager" type="humanoid_manager" name="humanoid_manager" output="screen"/>
</launch>
